<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <!--/*@thymesVar is="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
    <!--/*@thymesVar is="vets" type="java.util.Set<guru.springframework.sfgpetclinic.model.Vet>"*/-->
    <!--/*@thymesVar is="speciality" type="guru.springframework.sfgpetclinic.model.Speciality"*/-->
    <h2>Veterinarians</h2>
    <table id="vets" class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Specialities</th>
        </thead>
        <tbody>
        <tr th:each="vet: ${vets}">
            <td th:text="${vet.firstName + ' ' + vet.lastName}">Jhon Doe</td>
            <td><span th:each="speciality:${vet.specialities}" th:text="${speciality.description + ' '}"/>
                      <span th:if="${vet?.specialities?.size() == 0}">none</span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
